# to exclude Obsidian's settings (including plugin and hotkey configurations) and workspace
.obsidian/
.obsidian/workspace.json
.obsidian/plugins/obsidian-git/data.json

# to exclude git settings 
.git/

# to exclude any sketch made on obsidian
excalidraw/

# to exclude OS settings and caches
trash/
DS_Store

# to exclude any programming environment
**/*env*/
**/env*/
**/*env*/

# Exclude all __pycache__ folders
__pycache__/
**/__pycache__/


# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
trash/
DS_Store

# to exclude rag settings
rag/

#exclude venv files 
.env

